/*----------------------- 
    fonts
------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap");

/*----------------------- 
    global css
------------------------*/
:root {
  --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
}

a {
  color: #0060b6;
  text-decoration: none;
}

a:hover {
  color: #00a0c6;
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #ffffff;
  line-height: 1.5;
}

* {
  margin: 0;
  padding: 0;
  outline: none !important;
}
ul {
  list-style: none;
}
@keyframes spin_01 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes bounceTop_01 {
  0%,
  100% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0px);
  }
}

@keyframes pulse_01 {
  0% {
    transform: scale(0.94);
    box-shadow: 0 0 0 0 rgba(27, 27, 27, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 12px rgba(255, 255, 255, 0);
  }
  100% {
    transform: scale(0.94);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.effect-wrap .effect {
  position: absolute;
  z-index: -1;
}

.effect-wrap .effect-1 {
  left: 20%;
  top: 20%;
  font-size: 20px;
  color: var(--color-2);
  animation: spin_01 5s linear infinite;
}

.effect-wrap .effect-2 {
  right: 5%;
  top: 10%;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.5);
  animation: spin_01 7s linear infinite;
}

.effect-wrap .effect-3 {
  left: 5%;
  bottom: 30%;
  font-size: 25px;
  color: var(--color-3);
  animation: bounceTop_01 3s linear infinite;
}
.section-padding {
  padding: 30px 0;
}
/*------------------------ 
      navbar
  ------------------------*/
.navbar {
  background-color: white;
  color: var(--main-color);
  padding: 20px 0;
  transition: all 0.5s ease;
  box-shadow: -1px 12px 16px -3px rgba(77, 54, 54, 0.2);
  -webkit-box-shadow: -1px 12px 16px -3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -1px 12px 16px -3px rgba(0, 0, 0, 0.2);
}

.navbar-btn {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 700;
  transition: all 0.5s ease;
}

/* .navbar-shrink {
  background-color: var(--main-color);
} */

.navbar {
  padding-right: 3rem;
  padding-left: 11rem;
}

.navbar .container #logo {
  width: 70%;
}

.navbar .nav-item i {
  color: var(--main-color);
}

.navbar > .container {
  padding: 0 15px;
}

.navbar-brand {
  font-size: 50px;
  color: #ffffff;
  font-weight: 500;
  text-transform: capitalize;
  margin-left: 10px;
}

.navbar .nav-item {
  margin-left: 1.5rem;
}

.navbar .nav-item i {
  font-size: 23.89px;
  padding: 3px;
  margin-top: 8px;
}

.navbar .nav-item .nav-link {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;

  text-align: center;

  color: #000000;
}

.navbar .nav-item .nav-link.active {
  background: #da4a93;
  box-shadow: -1px 4px 9px rgba(237, 116, 174, 0.87);
  border-radius: 15px;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover::before {
  transform: scale(1);
}

.home {
  min-height: 40vh;
  /* padding: 110px 0; */
  background-color: white;
  border-radius: 0 0 200px 0;
  position: relative;
  margin-top: 130px;
  z-index: 1;
}

.container .home-text {
  width: 65%;
}

.home-text-container {
  position: relative;
}

.home-text-container .flecha-stroke-r {
  position: absolute;
  right: 40px;
  width: 27%;
  top: 75px;
}

.home-text h1 {
  font-size: 60px;
  font-weight: 700;
  color: #070606;
  margin: 30px 0 20px;
}

.container .home-text input {
  padding: 2rem;
  border-radius: 20px;
}

.container .home-text .home-btn a {
  background-color: #16b1e9;
  color: white;
  border-radius: 10px;
  width: 10rem;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
}

.home-text-container .home-text .container .row {
  margin-top: 20px;
}

.home .home-btn img {
  cursor: pointer;
  border-radius: 50%;
  animation: pulse_01 2s ease infinite;
}

.home .home-btn img:hover {
  cursor: pointer;
  animation: none;
}

/* .home .home-btn .video-play-btn {
  margin-left: 30px;
  border-radius: 50%;
  font-size: 16px;
  height: 50px;
  width: 50px;
  padding: 0;
  background-color: white;
  animation: pulse_01 2s ease infinite;
} */

.home .home-btn .video-play-btn i {
  line-height: 50px;
}
.home .home-btn .video-play-btn:hover {
  animation: none;
  box-shadow: var(--shadow-black-300);
}
.home-text p {
  font-size: 14px;
  line-height: 28px;
  /* color: #161414; */
  margin: 0;
  font-weight: 500;
}

.container .home-img {
  position: relative;
}

.container .home-img .avion-azul {
  position: absolute;
  width: 100px;
  transform: rotate(3deg);
  bottom: -40px;
  right: 32px;
}

.container .home-img .avion-azul-f {
  position: absolute;
  top: 50%;
  left: 0;
}

.container .home-img .circulo-f {
  position: absolute;
}

.container .home-img .dado {
  width: 90px;
  position: absolute;
  top: 5%;
  left: 33%;
  transform: translate(-50%, -50%);
  animation: bounceTop_01 3s linear infinite;
}

.container .home-img .frame512 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 10%;
}

.container .home-img .frame2 {
  position: absolute;
  left: 50px;
  bottom: 0;
  width: 13%;
}

.home-img .circle {
  position: absolute;
  z-index: 1;
  height: 400px;
  width: 400px;
  border: 1px solid rgb(255, 255, 255, 0.2);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-img .avion-rosa {
  position: absolute;
  left: 30px;
  top: 10px;
  /* transform-origin: 170px 170px; */
  transform: rotate(-30deg);
  /* animation: spin_01 10S linear infinite; */
}

/*---------------------------------- 
Video POPUP
----------------------------------*/

.video-popup-4,
.video-popup-3,
.video-popup-2,
.video-popup {
  padding: 30px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1999;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5 ease;
}

.video-popup-4.open,
.video-popup-3.open,
.video-popup-2.open,
.video-popup.open {
  opacity: 1;
  visibility: visible;
}

.video-popup-inner-4,
.video-popup-inner-3 {
  width: 100%;
  max-width: 900px;
  position: relative;
  top: 30%;
}

.video-popup-4 .video-popup-close,
.video-popup-3 .video-popup-close,
.video-popup-2 .video-popup-close,
.video-popup .video-popup-close {
  position: absolute;
  right: 0;
  top: -30px;
  height: 30px;
  width: 30px;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

.video-popup-4 .iframe-box,
.video-popup-3 .iframe-box,
.video-popup-2 .iframe-box,
.video-popup .iframe-box {
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}

.video-popup-4 #player-4,
.video-popup-3 #player-3,
.video-popup-2 #player-2,
.video-popup #player-1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.convocatoria-sec {
  position: relative;
}

.group42,
.group49,
.flecha-toon,
.cola-av-am,
.avion-amarillo {
  position: absolute;
}

.group49 {
  top: -42px;
  left: 0;
}

.avion-amarillo {
  right: 12px;
  top: 8px;
}

.cola-av-am {
  right: -10px;
  top: -7px;
}

.group42 {
  right: 50%;
  bottom: -39px;
}

.flecha-toon {
  right: 33%;
  bottom: 29%;
}

.convocatoria-sec .container {
  width: 90%;
}

.container-conv .sub-container-conv {
  padding: 40px;
}

.info {
  width: 210px;
  margin-bottom: 34px;
}

.btn-aplicar {
  background-color: #da4a93;
  color: white;
  border-radius: 12px;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  font-size: 14px;
  box-shadow: -1px 0px 5px 0px rgba(218, 74, 147, 0.75);
  -webkit-box-shadow: -1px 0px 5px 0px rgba(218, 74, 147, 0.75);
  -moz-box-shadow: -1px 0px 5px 0px rgba(218, 74, 147, 0.75);
}

.separte-sec .container .content {
  display: none;
}

.open {
  display: block !important;
  transition: 1s;
}

.separte-sec .container .sub-container-separte-sec .content p {
  margin: 0 0 10px;
}

.btn-leer-mas {
  margin: auto;
  background-color: #95cbee;
  color: white;
  border-radius: 12px;
  width: 10rem;
  display: flex;
  border-color: #95cbee;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 37px;
  font-size: 14px;
  box-shadow: -1px 0px 5px 0px rgba(149, 203, 238, 0.75);
  -webkit-box-shadow: -1px 0px 5px 0px rgba(149, 203, 238, 0.75);
  -moz-box-shadow: -1px 0px 5px 0px rgba(149, 203, 238, 0.75);
}

.container-conv {
  box-shadow: var(--shadow-black-100);
  border-radius: 35px;
}

.aportar-sec .sub-container-aportar-sec .text-center {
  margin-bottom: 20px;
}

.aportar-sec .sub-container-aportar-sec .video-play-btn-2 {
  position: absolute;
  top: 34%;
  right: 45%;
  cursor: pointer;
  border-radius: 50%;
  animation: pulse_01 2s ease infinite;
}

.home .home-btn .video-play-btn {
  cursor: pointer;
  border-radius: 50%;
  animation: pulse_01 2s ease infinite;
}

body > section:nth-child(5) > div {
  width: 90%;
}

.separte-sec .sub-container-separte-sec .text-center h4 {
  font-weight: bold;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
}

.sub-container-separte-sec {
  background: rgba(149, 203, 238, 0.08);
  border-radius: 15.7018px;
}

section:nth-child(5)
  .col-12.sub-container-separte-sec
  > div
  > img:nth-child(4) {
  position: absolute;
  right: 6%;
  top: 200px;
}

.goup {
  position: fixed;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.separte-sec .sub-container-separte-sec > div.text-center > img:nth-child(5) {
  width: 96px;
  position: absolute;
  left: -18px;
  top: 183px;
}

.separte-sec .sub-container-separte-sec > div.text-center > img:nth-child(6) {
  position: absolute;
  left: 60px;
}

.sub-container-beneficios {
  width: 1140px;
  height: 468px;
  background: rgba(160, 190, 82, 0.08);
  border-radius: 50px;
}

.title-beneficios {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 90px;
  text-align: center;
  margin-top: 0.5rem;
  color: #000000;
  text-align: center;
}

.rectangle-beneficios {
  width: 78px;
  height: 78px;
  background: #a0be52;
  box-shadow: -1px 4px 9px rgba(130, 185, 219, 0.45);
  border-radius: 10px;
}

.btn-container-beneficios {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-beneficios-section-1 {
  position: relative;
  width: 80%;
  height: 110px;
  left: 50px;
  top: 60px;
  border-color: #ffffff;
  background: #ffffff;
  box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: row;
  color: #000000;
}

.btn-beneficios-section-1:hover {
  background: #a0be52;
  color: #ffffff;
}

.btn-beneficios-section-1:hover .rectangle-beneficios {
  background: #ffffff;
}

.btn-beneficios-section-2 {
  position: relative;
  width: 80%;
  height: 110px;
  left: 50px;
  top: 40px;
  border-color: #ffffff;
  background: #ffffff;
  box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  color: #000000;
}

.btn-beneficios-section-2:hover {
  background: #a0be52;
  color: #ffffff;
}

.btn-beneficios-section-2:hover .rectangle-beneficios {
  background: #ffffff;
}

.btn-beneficios-section-active {
  background: #a0be52 !important;
  color: #ffffff !important;
  width: 90% !important;
}

.btn-beneficios-section-active .rectangle-beneficios {
  background: #ffffff;
}

.img-avion-beneficios {
  position: relative;
  left: 20px;
  top: 12px;
  width: 45px;
}

.img-line-1-beneficios {
  position: absolute;
  top: 38px;
  left: 25px;
}

.img-line-2-beneficios {
  position: absolute;
  top: 43px;
  left: 25px;
}

.img-line-3-beneficios {
  position: absolute;
  top: 53px;
  left: 38px;
}

.book-beneficios {
  position: absolute;
  top: 4px;
  left: 30px;
  width: 45px;
}

.item-container-beneficios {
  position: relative;
  width: 100%;
  top: 70px;
}

.item-beneficios {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.2rem;
  max-width: 90%;
}

.mini-rectangle-beneficios {
  min-width: 20px;
  min-height: 5px;
  height: 20px !important;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  margin-right: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-check-beneficios {
  width: 11px;
  height: 10px;
}

.aportar-sec {
  background: rgba(255, 213, 76, 0.08);
}

.aportar-sec .center-video {
  position: relative;
}

.sub-container-aportar-sec .img-seniora {
  position: absolute;
}

.btn-ser-parte {
  margin: auto;
  background-color: #ffd54c;
  color: white;
  border-radius: 12px;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  font-size: 14px;
  box-shadow: -1px 0px 5px 0px rgba(149, 203, 238, 0.75);
  -webkit-box-shadow: -1px 0px 5px 0px rgba(149, 203, 238, 0.75);
  -moz-box-shadow: -1px 0px 5px 0px rgba(149, 203, 238, 0.75);
}

/* .center-video .ver_video {
  position: absolute;
  top: 34%;
  right: 45%;
  cursor: pointer;
} */

.aportar-sec .sub-container-aportar-sec .row img {
  cursor: pointer;
}

.margin-left-1 {
  margin-left: 1rem;
}

.margin-left-2 {
  margin-left: 2rem;
}

.margin-left-3 {
  margin-left: 3rem;
}

.margin-left-4 {
  margin-left: 4rem;
}

.margin-right-1 {
  margin-right: 1rem;
}

.margin-right-2 {
  margin-right: 2rem;
}

.margin-right-3 {
  margin-right: 3rem;
}

.margin-right-4 {
  margin-right: 4rem;
}

.mobile-section-beneficios-displey {
  position: relative;
  left: 10px;
}

mobile-section-beneficios-displey-2 {
  position: relative;
  top: 50px;
  left: 10px;
}

.item-container-beneficios-section-2 {
  position: relative;
  top: 60px;
}

#Beneficios-mobile-screen {
  display: none;
}

.footer {
  margin-top: 10px;
  background: url("../img/Group.png") no-repeat center,
    url("../img/footer-desktop.png") no-repeat center;
  width: 100%;
  height: 500px;
  background-size: cover;
}

.footer-section-1--col {
  display: none;
}

.footer-sign {
  display: none;
}

.footer-media {
  position: relative;
  top: 200px;
  left: 1180px;
}

.footer-media-v2 {
  position: relative;
  top: 280px;
  left: 150px;
}

.footer-media-logo-B {
  width: 250px !important;
}

.footer-media-logo-inicia-B {
  width: 130px !important;
}

.footer-media-v2 img {
  margin-right: 4rem;
  width: 80px;
}

.footer-media img {
  margin-right: 3rem;
  width: 50px;
}

.mobile-only {
  display: none;
}

.desktop-only {
  display: block;
}

.sub-footer {
  display: block;
  height: 71px;
}

.sub-footer p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300px;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}

.set-middle {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-aplicar-2 {
  display: none;
}

@media (min-width: 992px) {
  /* NAVBAR */

  .navbar .container #logo {
    width: 90%;
  }

  /* PORTADA */
  .home {
    margin-top: 130px;
    min-height: 62vh;
  }

  .video-popup-inner {
    width: 100%;
    max-width: 900px;
    position: relative;
    top: 25%;
  }

  .container .home-img .dado {
    width: 140px !important;
  }

  .container .home-img .logo-home {
    width: 100%;
    border-radius: 32px;
  }

  .unete-sec > div > div > div > img:nth-child(3),
  .publicaciones-sec-mobile,
  .text-center-mobile,
  .timelime-sec-mobile,
  .separte-sec-mobile,
  .brand-desktop,
  .btn-aplicar,
  .frame512,
  .frame2,
  .mobile-only,
  .home-text-container .flecha-stroke-r {
    display: none;
  }

  /*  */
  .avion-amarillo {
    top: 50px;
    transform: rotate(68deg);
  }

  .flecha-toon {
    right: 42%;
    top: 58px;
    transform: rotate(245deg);
    width: 65px;
  }

  .btn-aplicar-2 {
    background-color: #da4a93;
    color: white;
    border-radius: 12px;
    width: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 47px;
    font-size: 17px;
    box-shadow: -1px 0px 5px 0px rgba(218, 74, 147, 0.75);
    -webkit-box-shadow: -1px 0px 5px 0px rgba(218, 74, 147, 0.75);
    -moz-box-shadow: -1px 0px 5px 0px rgba(218, 74, 147, 0.75);
  }

  .cola-av-am {
    right: 127px;
    top: 50%;
    transform: rotate(61deg);
    width: 68px;
  }

  .img-seniora {
    width: 100%;
  }

  .aportar-sec.aportar-sec-desktop > div > div > div > div.row.text-center {
    width: 80%;
    margin: auto;
  }

  .sub-container-separte-sec > div > img:nth-child(2) {
    width: 25%;
    position: absolute;
    right: 0;
    bottom: 35px;
  }

  .separte-sec-desktop .sub-container-separte-sec > div > img:nth-child(3) {
    position: absolute;
    left: -30px;
    top: -50px;
  }

  .aportar-sec-video {
    width: 50%;
  }

  .texto-ser-parte {
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
  }

  .aportar-sec .sub-container-aportar-sec .video-play-btn-2 {
    width: 75px;
  }

  .pasantias-sec > div > div > div.col-md-12.col-lg-8.text-center .titulo-exp {
    text-align: left;
  }

  .owl-carousel.owl-drag .owl-item {
    width: 370.667px !important;
  }

  .text-center-desktop {
    padding: 21px;
  }

  .pasantias-sec .sub-container-pasantias-sec ul .icon-container {
    position: inherit;
    left: 10px;
    width: 20px;
  }

  .pasantias-sec .sub-container-pasantias-sec ul li {
    margin: none;
  }

  .icon-container img {
    max-width: 40px;
  }

  .publicaciones-sec .download {
    position: absolute;
    bottom: 37px;
    right: 100px;
    width: 110px !important;
  }

  .timelime-sec-desktop {
    max-width: 1207px;
    margin: auto;
  }

  .unete-sec .sub-container-unete-sec img:nth-child(4) {
    transform: rotate(75deg);
    position: absolute;
    right: 4px;
    bottom: inherit;
    width: 97px;
  }
  .unete-sec .sub-container-unete-sec .text-container {
    padding: 10px;
    color: #ffffff;
    width: 90%;
    margin-top: 30px;
  }

  .videos-title {
    margin-top: 3rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 90px;
    /* identical to box height */

    color: #000000;
  }

  .ganadores-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;

    row-gap: 20px;
  }

  .ganadores-options {
    background: #ffffff;
    box-shadow: -1px 4px 9px rgba(130, 185, 219, 0.45);
    border-radius: 20px;
    width: 152px;
    height: 48px;
    cursor: pointer;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 30px;
    padding: 1rem;
    text-align: center;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
  }

  .ganadores-options:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 20px;
    background: #95cbee;
    box-shadow: -1px 4px 9px rgba(114, 183, 204, 0.87) !important;
    font-weight: bold;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;

    color: #ffffff;
  }
  .ganadores-options:hover,
  .ganadores-options:focus,
  .ganadores-options:active {
    color: white;
  }
  .ganadores-options:hover:before,
  .ganadores-options:focus:before,
  .ganadores-options:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  .ganadores-options-active {
    background: #95cbee !important;
    box-shadow: -1px 4px 9px rgba(114, 183, 204, 0.87) !important;
    font-weight: bold;
    color: #ffffff;
  }

  .ganadores-card {
    width: 268px;
    height: 336px;
    background: #ffffff;
    box-shadow: 0px 8px 15px rgba(130, 185, 219, 0.45);
    border-radius: 20px;
    display: grid;
    grid-template:
      "header" 1fr
      "body" 3fr;

    margin-top: 1rem;

    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
  }

  @keyframes fadein {
    50% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }

  /* Firefox < 16 */
  @-moz-keyframes fadein {
    50% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }

  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
    50% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }

  /* Internet Explorer */
  @-ms-keyframes fadein {
    50% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }

  .ganadores-container-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 2rem;
    flex-wrap: wrap;
  }

  .ganadores-card-header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  /* modal start  */

  .modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    outline: 0;
    width: 50%;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 8px 15px rgba(130, 185, 219, 0.45);
    border-radius: 20px;
  }

  .ganadores-body-p {
    width: 180px;
    margin-top: 2rem;
    margin-right: 1rem;
    height: 40px;
    font-size: 16px;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
  }

  .modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
  }
  .modal-title {
    margin: 0;
    line-height: 1.5;
    color: black;
    font-size: 1.5rem;
    font-weight: 400;
  }
  .modal-header button {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
  }
  .modal-body {
    padding: 1rem;
    background: url("../img/rectangle-desktop.png") no-repeat center center
      fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 260px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .modal-body-ganadores {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(130, 185, 219, 0.45);
    border-radius: 8px;
    width: 300px;
    height: 196px;
    margin-top: 1rem;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-body h1 {
    margin-top: 0;
  }

  .show-modal.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100vw;
    height: 100vh;
  }

  .modal-dialog-ganadores {
    margin: auto 1rem;
    opacity: 0;
    transform: translateY(-100px);
    transition: 300ms opacity ease-out, 300ms transform ease-out;
    width: 100% !important;
  }
  .modal.animate-modal .modal-dialog-ganadores {
    opacity: 1;
    transform: translateY(0);
  }

  /* Modal end */

  .ganadores-card-header-title {
    font-family: Poppins;
    width: 80%;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1.5rem;
    margin-left: 0.5rem;
    text-align: left;
  }

  .ganadores-open-card {
    position: relative;
    cursor: pointer;
    z-index: 50;
    top: 2rem;
    right: 1rem;
    width: 32px;
    height: 32px;
    border: 1px solid #95cbee;
    box-sizing: border-box;
    border-radius: 50%;
    filter: drop-shadow(-1px 4px 12px rgba(66, 140, 229, 0.75));
  }

  .ganadores-card-body {
    grid-area: body;
  }

  .ganadores-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 90px;
    /* identical to box height */

    text-align: center;

    color: #000000;
  }

  .publicaciones-title {
    margin-top: 3rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 90px;
    /* identical to box height */

    text-align: center;

    color: #000000;
  }

  .btn-unir-mobile {
    font-size: 36px;
    position: relative;
    bottom: 3.1rem;
    right: 2.5rem;
  }

  .publicaciones-sec .download {
    position: absolute;
    bottom: 37px;
    right: 100px;
    width: 110px !important;
  }

  .timelime-sec-desktop {
    max-width: 1207px;
    margin: auto;
  }
}

@media (max-width: 991px) {
  .home-text h1 {
    font-size: 34px;
    font-weight: 700;
    color: #070606;
    margin: 30px 0 20px;
  }
  .btn-unir-mobile{
    font-size: 20px;
    position: relative;
    top: -1rem;
  }

  /* modal start  */

  .modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    outline: 0;
    width: 80%;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 8px 15px rgba(130, 185, 219, 0.45);
    border-radius: 20px;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
  }

  .modal-header {
    display: -ms-flexbox;
    display: flex;
    flex-direction: column-reverse;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
  }
  .modal-title {
    margin: 0;
    line-height: 1.5;
    color: black;
    font-size: 1.5rem;
    font-weight: 400;
  }
  .modal-header button {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
  }
  .modal-body {
    padding: 1rem;
    background: url("../img/rectangle-desktop.png") no-repeat center center
      fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 600px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .ganadores-body-p {
    width: 100%;
    margin-top: 0.5rem;
    margin-right: 1rem;
    height: 40px;
    text-align: center;
  }

  .modal-body-ganadores {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(130, 185, 219, 0.45);
    border-radius: 8px;
    width: 70%;
    height: 196px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -2rem auto;
  }

  .modal-body h1 {
    margin-top: 0;
  }

  .show-modal.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100vw;
    height: 100vh;
  }

  .modal-dialog-ganadores {
    margin: auto 1rem;
    opacity: 0;
    transform: translateY(-100px);
    transition: 300ms opacity ease-out, 300ms transform ease-out;
    width: 100% !important;
  }
  .modal.animate-modal .modal-dialog-ganadores {
    opacity: 1;
    transform: translateY(0);
  }

  /* modal end */

  .video-popup-inner {
    width: 100%;
    max-width: 900px;
    position: relative;
    top: 50%;
  }

  .ganadores-card-header-title {
    font-family: Poppins;
    width: 80%;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1.5rem;
    margin-left: 0.5rem;
    text-align: left;
  }

  .ganadores-open-card {
    position: relative;
    cursor: pointer;
    z-index: 50;
    left: 200px;
    top: -30px;
    width: 32px;
    height: 32px;
    border: 1px solid #95cbee;
    box-sizing: border-box;
    border-radius: 50%;
    filter: drop-shadow(-1px 4px 12px rgba(66, 140, 229, 0.75));
  }

  .ganadores-sec {
    width: 90% !important;
    background: rgba(149, 203, 238, 0.08);
    border-radius: 15.7018px;
  }

  .ganadores-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 90px;
    /* identical to box height */

    text-align: center;

    color: #000000;
  }

  .publicaciones-title {
    margin-top: 0.5rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 90px;
    /* identical to box height */

    text-align: center;

    color: #000000;
  }

  .videos-title {
    margin-top: 3rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 90px;
    /* identical to box height */
    margin-bottom: -2rem;
    color: #000000;
  }

  .ganadores-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 20px;
  }

  .ganadores-options {
    background: #ffffff;
    box-shadow: -1px 4px 9px rgba(130, 185, 219, 0.45);
    border-radius: 20px;
    width: 30%;
    height: 24px;
    cursor: pointer;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    padding: 1rem;
    text-align: center;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ganadores-options-active {
    background: #95cbee !important;
    box-shadow: -1px 4px 9px rgba(114, 183, 204, 0.87) !important;
    font-weight: bold;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /* Firefox < 16 */
  @-moz-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /* Internet Explorer */
  @-ms-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .ganadores-container-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2rem;
  }

  .ganadores-card {
    width: 100%;
    height: 300px;
    background: #ffffff;
    box-shadow: 0px 8px 15px rgba(130, 185, 219, 0.45);
    border-radius: 20px;
    display: grid;
    grid-template:
      "header" 1fr
      "body" 3fr;
    margin-top: 0.5rem;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
  }

  .margin-left-4 {
    margin-left: 0;
  }

  .margin-right-4 {
    margin-right: 0;
  }
  .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  .img-seniora {
    width: 60%;
  }

  .flecha-toon {
    bottom: 24%;
    left: 200px;
    width: 50px;
  }

  .publicaciones-sec-desktop,
  .text-center-desktop,
  .timelime-sec-desktop,
  .btn-aplicar-2,
  .separte-sec-desktop,
  .brand-desktop,
  .desktop-only {
    display: none;
  }

  .pasantias-sec .sub-container-pasantias-sec ul .icon-container {
    position: absolute;
    left: 10px;
  }

  .pasantias-sec .sub-container-pasantias-sec ul li {
    margin-left: 35px;
  }

  .owl-carousel .owl-item img {
    display: block;
    width: 87%;
  }

  .publicaciones-sec .download {
    position: absolute;
    bottom: 30px;
    right: 110px;
    width: 65px !important;
  }

  .mobile-only {
    display: block;
  }

  .isMobile {
    display: block;
  }

  .item-container-beneficios {
    top: 40px;
  }

  .btn-beneficios-section-active {
    width: 100% !important;
  }

  #Beneficios-mobile-screen {
    display: block;
  }

  #Beneficios {
    display: none;
  }

  .sub-container-beneficios-mobile {
    width: 100%;
    min-height: 100px;
    height: auto;
    background: rgba(160, 190, 82, 0.08);
    border-radius: 50px;
    overflow: hidden;
  }

  .title-beneficios {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 90px;
    text-align: center;
    margin-top: 0.5rem;
    color: #000000;
    text-align: center;
  }

  .rectangle-beneficios {
    width: 38px;
    height: 38px;
    background: #a0be52;
    box-shadow: -1px 4px 9px rgba(130, 185, 219, 0.45);
    border-radius: 10px;
  }

  .img-avion-beneficios-mobile {
    position: relative;
    left: 12px;
    top: 6px;
    width: 20px;
  }

  .img-line-1-beneficios-mobile {
    position: absolute;
    top: 24px;
    left: 25px;
    width: 7px;
  }

  .img-line-2-beneficios-mobile {
    position: absolute;
    top: 25px;
    left: 28px;
    width: 8px;
  }

  .img-line-3-beneficios-mobile {
    position: absolute;
    top: 29px;
    left: 31px;
    width: 7px;
  }

  .btn-beneficios-section-1 {
    width: 100%;
    height: 50px;
    left: -5px;
    top: 20px;
    border-color: #ffffff;
    background: #ffffff;
    box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #000000;
  }

  .btn-beneficios-section-2 {
    width: 100%;
    height: 50px;
    left: -5px;
    top: 50px;
    border-color: #ffffff;
    background: #ffffff;
    box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    color: #000000;
    margin-top: -1rem;
  }

  .book-beneficios-mobile {
    position: absolute;
    top: 10px;
    left: 25px;
    width: 18px;
  }

  .unete-sec .sub-container-unete-sec img:nth-child(4) {
    transform: rotate(75deg);
    position: absolute;
    right: 4px;
    bottom: -50px;
    width: 97px;
  }

  .unete-sec .sub-container-unete-sec .text-container {
    padding: 10px;
    color: #ffffff;
    width: 90%;
  }

  .footer {
    background: url("../img/Group.png") no-repeat top,
      url("../img/footer.png") no-repeat center;
    width: 100%;
    height: 450px;
    background-size: cover;
    overflow: hidden;
  }

  .footer-section-1 {
    position: relative;
    top: 100px;
    left: 60px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    color: #ffffff;
  }
  .footer-section-1--col {
    display: block;
    text-align: left;
  }
  .footer-sign {
    display: block;
    position: relative;
    top: 80px;
    margin: auto;
    background: url("../img/footer-sign-v2.png") no-repeat center;
    width: 300px;
    height: 124px;
  }

  .footer-media {
    position: relative;
    top: 60px;
    left: 160px;
  }

  .footer-media img {
    margin-right: 1rem;
    width: 20px;
  }

  .footer-last-paragraph {
    position: relative;
    top: 70px;
    margin: auto;
    width: 250px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 8px;
    line-height: 11px;
    text-align: center;
    color: #ffffff;
  }

  .sub-footer {
    display: none;
  }


.timelime-sec {
  margin-top: 40px;
  position: relative;
}

.timelime-sec img {
  position: absolute;
}

.timelime-sec .row {
  width: 90%;
}

section.section-padding.timelime-sec > img:nth-child(1) {
  right: 35%;
  top: -27px;
}

section.section-padding.timelime-sec > img:nth-child(2) {
  right: 30px;
  top: 50px;
}

section.section-padding.timelime-sec > img:nth-child(3) {
  right: 10px;
  top: 38px;
}

section.section-padding.timelime-sec > img:nth-child(5) {
  right: 110px;
  bottom: 11px;
}

.timelime-sec .container .timeline-cont img {
  height: 320px;
}

.titulo-timelime {
  font-weight: bold;
}

.ganadores-sec {
  width: 82%;
  margin: auto;
  background: rgba(149, 203, 238, 0.08);
  border-radius: 15.7018px;
}

.ganadores-sec ul {
  display: flex;
}

.ganadores-sec .container ul li {
  box-shadow: -1px 0px 5px 0px rgba(120, 120, 120, 0.75);
  -webkit-box-shadow: -1px 0px 5px 0px rgba(120, 120, 120, 0.75);
  -moz-box-shadow: -1px 0px 5px 0px rgba(120, 120, 120, 0.75);
  margin: 5px;
  border-radius: 15px;
}

.ganadores-sec .container ul li .activo {
  color: white;
}

.ganadores-sec .container ul .active {
  background-color: #95cbee;
}

.ganadores-img-cont {
  position: relative;
}

.row-next {
  position: absolute;
  top: 25px;
  right: 20px;
  width: 40px !important;
}

.owl-carousel .item {
  max-width: 200px;
}
.owl-iten {
  width: 195px !important;
}

.pasantias-sec .container {
  background: rgba(218, 74, 147, 0.08);
  width: 90%;
  border-radius: 15.614px;
}

.pasantias-sec .container .sub-container-pasantias-sec .text-center {
  margin-top: 30px;
  margin-bottom: 25px;
  position: relative;
}

.pasantias-sec .container .sub-container-pasantias-sec .text-center h4,
h5 {
  font-weight: bold;
}

.pasantias-sec .container .sub-container-pasantias-sec .text-center img {
  transform: rotate(240deg);
  position: absolute;
  top: -20px;
  left: 32px;
}

.pasantias-sec .video-play-btn-3 {
  position: absolute;
  top: 50%;
  right: 45%;
  cursor: pointer;
  border-radius: 50%;
  animation: pulse_01 2s ease infinite;
  width: 68px !important;
}

.pasantias-sec > div > div > div.col-12.text-center .NextStrokeR {
  position: absolute;
  top: 44%;
  right: 10px;
}

.publicaciones-sec .container {
  background: rgba(255, 213, 76, 0.08);
  width: 90%;
  border-radius: 15.614px;
}

.publicaciones-sec > div > div > div > div > h4 {
  margin-top: 20px;
}

.publicaciones-sec .NextStrokeR2 {
  position: absolute;
  top: 38%;
  right: 14px;
  z-index: 1;
}

.videos-sec .container {
  background: rgba(160, 190, 82, 0.08);
  border-radius: 15.7018px;
  width: 90%;
}

.videos-sec > div > div > div > div > h4 {
  margin-top: 15px;
}

.videos-sec .sub-container-videos-sec .video-play-btn-4 {
  position: absolute;
  right: 43%;
  top: 41%;
  cursor: pointer;
  border-radius: 50%;
  animation: pulse_01 2s ease infinite;
}

.videos-sec > div > div > div > div > p {
  color: white;
  position: absolute;
  bottom: 0;
  left: 25%;
}

.unete-sec .container {
  background: #005a70;
  box-shadow: 0px 1.25614px 3.45439px 1.88421px rgba(0, 0, 0, 0.05);
  border-radius: 11.9333px;
  width: 90%;
  position: relative;
  height: 200px;
}

.unete-sec .sub-container-unete-sec .text-container p {
  font-size: 12px;
}

.unete-sec .sub-container-unete-sec img:nth-child(1) {
  position: absolute;
  top: -41px;
  left: -18px;
}

.unete-sec .sub-container-unete-sec a {
  background: #ffffff;
  box-shadow: -0.469697px 1.87879px 4.22727px rgb(206 206 206 / 86%);
  border-radius: 9.39394px;
  padding: 10px;
  color: #00adee;
}

/* .publicaciones-sec
.sub-container-publicaciones-sec
.img-publicacion{
  width: 250px;
} */

/* .publicaciones-sec .img-container{
  background-color: white;
  width: 70%;
  margin: auto;
}

.publicaciones-sec .img-container img{
  margin-top: 30px;
  margin-bottom: 30px;
} */
/* .publicaciones-sec
.sub-container-publicaciones-sec
.text-center
img {
  background: #FFFFFF;
  box-shadow: 0px 0.842118px 6.73695px 2.52635px rgba(0, 0, 0, 0.1);
  border-radius: 6.73695px;
}
 */
}